/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "OpenSans", sans-serif;
  overflow-x: hidden; }

a:link {
  text-decoration: none; }
a:visited {
  text-decoration: none;
  color: #1f59b1; }

.modal__submit, .modal__submit--desktop[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

.filters__input[type=checkbox] {
  visibility: hidden; }

.modal__input--radio[type=radio] {
  visibility: hidden; }

.filters__input[type="checkbox"] + .filters__label .filters__check {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border: 1px solid #b4b1b1;
  border-radius: 5px; }

.filters__input[type="checkbox"]:checked + .filters__label .filters__check {
  border: 7px solid #1f59b1; }

.modal__input--radio[type="radio"] + .modal__light .modal__radio {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: 1px solid #b4b1b1;
  border-radius: 5px; }

.modal__input--radio[type="radio"]:checked + .modal__light .modal__radio {
  border: 6px solid #1f59b1; }

@media screen and (min-width: 904px) {
  .modal__input--radio[type="radio"] + .modal__light .modal__radio {
    display: inline-block;
    width: 4rem;
    height: auto;
    border: 1px solid #b4b1b1;
    border-radius: 5px; }

  .modal__input--radio[type="radio"]:checked + .modal__light .modal__radio {
    background-color: #2bcece;
    color: #ffffff;
    border: 1px solid #b4b1b1; } }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-extrabold.ttf") format("tff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-bold.ttf") format("tff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-italic.ttf") format("tff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-regular.ttf") format("tff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-light.tff") format("tff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-lightitalic.tff") format("tff");
  font-weight: 200;
  font-style: italic; }
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #d1cdcd;
    width: 350px; }
  .modal__head {
    background-color: #154080;
    color: #ffffff;
    padding: 1.30rem; }
  .modal__business {
    font-size: 1.25rem;
    font-weight: 200; }
  .modal__email {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem; }
  .modal__light {
    font-size: 0.75rem;
    font-weight: 400;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .modal__light--top {
    margin-right: 0.75rem; }
  .modal__radios {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #d1cdcd;
    margin-bottom: 2rem;
    padding-bottom: 1rem; }
  .modal__radio {
    margin-right: 0.75rem;
    text-indent: -9999px; }
  .modal__question {
    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column; }
  .modal__action {
    margin-bottom: 1.5rem; }
  .modal__inputs {
    font-size: 1rem;
    font-weight: 400;
    position: relative; }
  .modal__circle {
    position: absolute;
    width: 1.25rem; }
  .modal__circle--one {
    top: -.15rem;
    right: 0rem; }
  .modal__circle--two {
    top: 5.15rem;
    right: 11rem; }
  .modal__circle--three {
    top: 10.4rem;
    right: 0rem; }
  .modal__opt {
    font-size: 0.75rem;
    font-weight: 200;
    color: #868686;
    font-style: italic;
    position: absolute;
    right: 0rem;
    top: 16.2rem; }
  .modal__close {
    display: none; }
  .modal__form {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 1rem; }
  .modal__label {
    font-size: 0.9rem;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
    padding-left: 0; }
  .modal__textarea {
    font-size: 1rem;
    font-weight: 400;
    height: 4rem;
    margin-bottom: 1.25rem;
    background-color: #ffffff;
    width: 100%;
    border: 0.75px solid #a5a7a8; }
  .modal__input {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    height: 2.70rem;
    background-color: #ffffff;
    width: 100%;
    border: 0.75px solid #b5b8b9; }
  .modal__legend {
    color: #696b6d;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .modal__newsletter {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left; }
  .modal__input--radio {
    width: 5%;
    height: 1rem;
    margin-bottom: 1rem;
    margin-left: -1rem; }
  .modal__input--num {
    font-size: 1rem;
    font-weight: 400;
    height: 2.70rem;
    margin-bottom: 1.25rem;
    background-color: #ffffff;
    border: 0.75px solid #b5b8b9;
    width: 45%; }
  .modal__submit[type=submit] {
    color: #29d4c6;
    float: right; }
  .modal__opt--dk, .modal__submit--desktop, .modal__arrow {
    display: none; }

@media screen and (min-width: 904px) {
  .modal__content {
    width: 600px; }
  .modal__head {
    padding: 2.3rem; }
  .modal__form {
    padding: 2rem; }
  .modal__close {
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    color: #ffffff;
    top: 0.25rem;
    left: 35.75rem;
    position: absolute;
    color: #ffffff; }
  .modal__close:hover, .modal__close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer; }
  .modal__inputs {
    background-color: #f5f3f3;
    padding: 1.5rem; }
  .modal__input {
    width: 100%; }
  .modal__textarea {
    width: 100%; }
  .modal__submit {
    display: none; }
  .modal__opt--dk {
    font-size: 0.75rem;
    font-weight: 200;
    color: #868686;
    font-style: italic;
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 24.5rem; }
  .modal__submit--desktop[type=submit] {
    font-size: 0.9rem;
    font-weight: 400;
    display: block;
    margin: 0 auto; }
  .modal__desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .modal__submit--container {
    display: inline-flex; }
  .modal__arrow {
    display: inline;
    width: auto;
    height: 1rem;
    margin-left: 0.25rem; }
  .modal__circle--one {
    top: 1.35rem;
    right: 1.55rem; }
  .modal__circle--two {
    top: 6.65rem;
    right: 18.3rem; }
  .modal__circle--three {
    top: 12rem;
    right: 1.5rem; }
  .modal__opt {
    right: 1.5rem;
    top: 17.7rem; }
  .modal__light {
    color: #eeebeb; }
  .modal__radio {
    color: #000000;
    text-indent: 0px;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 1.25rem; }
  .modal__input--radio {
    margin-right: -0.5rem; }
  .modal__light--top {
    margin-right: -0.75rem; } }
.nav__container {
  position: relative;
  box-shadow: 0 2px 1px 1px #696b6d; }

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60px; }
.nav__logo {
  width: 9rem;
  padding-left: 1.15rem; }
.nav__find {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 700;
  border: 2px solid #1f59b1;
  z-index: 4;
  color: #1f59b1;
  padding: 0.5rem;
  border-radius: 5px; }
.nav__location {
  width: 0.75rem;
  margin-right: 0.15rem; }
.nav__button {
  max-width: 77%; }
.nav__li--dk {
  display: none; }
.nav__list {
  width: 100%; }
  .nav__list .nav__li::after {
    content: "";
    background-image: url(../images/next-arrow.png);
    height: 24px;
    width: 22px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -12px;
    background-size: 20px;
    background-repeat: no-repeat; }
.nav__li {
  background-color: #e9e9e9;
  color: #6a6c70;
  padding: 1rem;
  margin-bottom: 2px;
  position: relative; }
.nav__li--link:visited {
  color: #696b6d; }
.nav__menu {
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 0px; }
.nav__close {
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 15px;
  color: #2bcece; }
  .nav__close:visited {
    color: #2bcece; }
.nav__link--mobile {
  width: 5rem;
  height: 3.25rem;
  z-index: 4; }
.nav__title--mobile {
  font-size: 1rem;
  font-weight: 700;
  color: #1f59b1;
  padding: 1.75rem;
  text-align: center; }
.nav__menu--open {
  height: 280px;
  border-top: 5px solid #2bcece;
  border-bottom: 5px solid #2bcece; }

.banner {
  background-image: url("../images/water-image.png");
  height: 100px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f3f3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #d1cdcd; }
  .filters__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 auto; }
  .filters__result {
    color: #2f77e2;
    margin-right: 0rem;
    padding: 1rem; }
  .filters__title {
    background-color: #ffffff;
    border: 1.25px solid #d1cdcd;
    padding: 1rem; }
  .filters__arrow {
    border-top: 1.25px solid #d1cdcd;
    border-right: 1.25px solid #d1cdcd;
    border-bottom: 1.25px solid #d1cdcd;
    padding: 1rem; }
  .filters__mobile {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    color: #000000;
    padding: 1rem; }
    .filters__mobile:visited {
      color: #000000; }
  .filters__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    margin-top: -1.1rem; }
  .filters__input {
    margin-bottom: 1rem; }
  .filters__label {
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .filters__check {
    margin-right: 0.75rem; }
  .filters__question {
    position: relative;
    bottom: 1.3rem;
    left: 8rem;
    width: 1.5rem; }
  .filters__form--open {
    height: 240px !important;
    position: relative;
    padding-left: 1rem;
    border: 1.25px solid #d1cdcd; }

.business__container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  max-width: 1250px; }

.business {
  text-align: center;
  padding-top: 2rem;
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999; }
  .business__title {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1.5rem; }
  .business__time {
    font-size: 0.9rem;
    margin-bottom: 1.5rem; }
  .business__image {
    width: 12%; }
  .business__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #1f59b1;
    color: #ffffff;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
    margin: 0rem auto 1.5rem auto;
    max-width: 80%; }
  .business__tap {
    font-size: 0.75rem; }
  .business__number {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 15px; }
  .business__image--num {
    margin-right: 15px; }
  .business__talk {
    font-size: 0.83rem;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 1.5rem !important; }
  .business__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    margin: 0rem auto 2.5rem auto;
    border: 2px solid #2bcece;
    padding: 1rem 0rem 1rem 0rem;
    max-width: 60%; }
    .business__contact:hover {
      transform: scale(1.05); }
  .business__pro {
    color: #1f59b1;
    font-weight: 700; }
  .business__img {
    margin-right: 1rem;
    width: 9%; }
  .business__hours {
    font-weight: 700;
    margin-bottom: 0.75rem; }
  .business__time {
    margin-top: 0;
    margin-bottom: 0.75rem; }
  .business__info {
    margin-bottom: 2.5rem; }
  .business__services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #f5f3f3;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    font-size: 0.75rem;
    text-align: left;
    margin: 0 auto; }
  .business__service--hidden {
    visibility: hidden; }
  .business__asset {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .business__service {
    margin-bottom: 0.5rem; }
  .business--three {
    margin-bottom: 2rem; }

.footer__container {
  color: #ffffff;
  text-align: center; }

.footer--top {
  background-color: #1f59b1;
  padding-top: 2rem;
  padding-bottom: 1rem; }
.footer__logo {
  width: 13rem; }
.footer--bottom {
  background-color: #2e71d4;
  font-size: 0.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem; }
.footer__text {
  font-size: 0.75rem;
  font-weight: 200;
  max-width: 90%;
  margin: 0rem 0.25rem 0 0.25rem;
  padding-bottom: 7px; }
.footer__text--border {
  border-bottom: 1px solid #ffffff;
  margin: 0rem auto 0.5rem auto; }
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 80%;
  height: 3rem;
  margin: 0 auto; }
.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 6rem; }
.footer__img {
  width: auto;
  height: 1.5rem; }

.business__phone--desktop {
  display: none; }

.business__number--desktop {
  display: none; }

.filters__title--desktop {
  display: none; }

.top {
  display: none; }

@media screen and (min-width: 650px) {
  .nav__find {
    font-size: 1.25rem;
    font-weight: 400; }

  .nav__link--mobile {
    width: 6rem; }

  .nav__logo {
    width: 18rem; }

  .nav__location {
    width: 1.25rem; }

  .filters__head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }

  .business__phone {
    max-width: 60%; }

  .business__number {
    font-size: 1.25rem; }

  .business__call {
    font-size: 1rem; }

  .business__contact {
    max-width: 50%; }

  .footer__social {
    justify-content: space-around; } }
@media screen and (min-width: 904px) {
  .banner {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: -2rem; }

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
    margin: 0 auto;
    width: 100%;
    z-index: 9;
    display: block; }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
    margin: 0 auto;
    max-width: 1250px; }
    .nav__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 100%;
      width: auto;
      position: static; }
    .nav__li--dk {
      display: inline;
      margin-top: 0; }
    .nav__list {
      font-size: 0.9rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .nav__list .nav__li::after {
        background-image: none; }
    .nav__li {
      background-color: #ffffff;
      display: inline; }
      .nav__li a:visited {
        color: #1f59b1; }
      .nav__li a:hover {
        color: #2bcece; }
    .nav__find--dk {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: 2px solid #2f77e2;
      color: #2f77e2;
      padding: 0.75rem 1.25rem;
      border-radius: 5px;
      margin: 0rem 1rem 0rem 1rem;
      text-decoration-style: none; }
      .nav__find--dk:hover {
        color: #2bcece; }
    .nav__location {
      margin-right: 0.50rem;
      width: 0.85rem; }
    .nav__logo {
      width: 14rem; }
    .nav__close, .nav__title--mobile, .nav__link--mobile, .nav__find {
      display: none; }

  .top {
    background-color: #154080;
    display: block; }
    .top__content {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      flex-direction: row;
      font-size: 0.75rem;
      font-weight: 400;
      max-width: 1225px;
      color: #ffffff;
      padding: 1rem 1.25rem 1rem 0rem;
      margin: 0 auto; }
    .top__item {
      list-style-type: none;
      display: inline;
      margin-right: 1rem;
      color: #ffffff; }
      .top__item:hover {
        color: #f5f3f3; }
    .top__item--com {
      margin-right: 0.5rem; }
    .top__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .top__image {
      width: 0.75rem; }

  /* Filter Section ----- */
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f5f3f3;
    max-width: 1245px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 3; }
    .filters__head {
      margin: 0 auto;
      margin: 0;
      background-color: #f5f3f3;
      border: none; }
    .filters__result {
      border-right: 1px solid #d1cdcd;
      padding-right: 2rem; }
    .filters__input {
      margin-top: 0;
      margin-right: 1rem; }
    .filters__form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background-color: #f5f3f3;
      height: auto;
      border: none;
      box-shadow: none;
      width: 60%;
      margin: 0; }
    .filters__question {
      position: static;
      width: 1.25rem; }
    .filters__mobile {
      display: none; }
    .filters__title--desktop {
      display: inline;
      margin-left: 2rem; }
    .filters__label {
      margin-right: 1rem; }

  /* Main Section Desktop Styles ----- */
  .business__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2.5rem 1rem 1rem 1rem;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto 4rem auto; }

  .business {
    margin: 0.5rem;
    padding-top: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #999, 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999; }
    .business__title--container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border-bottom: 1px solid #d1cdcd;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      width: 90%;
      margin: 0 auto 1rem auto; }
    .business__title--container--two {
      padding: 1.8rem; }
    .business__title {
      font-size: 1.25rem;
      font-weight: 200;
      margin-bottom: 0rem; }
    .business__contact {
      max-width: 55%; }
    .business__phone {
      font-size: 1.5rem;
      font-weight: 700;
      display: block;
      border-radius: 0; }
    .business__number--desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
    .business__services {
      padding-right: 1rem;
      padding-left: 1rem;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    .business__phone {
      background-color: #ffffff;
      color: black; }
    .business__phone--mobile, .business__tap, .business__icon, .business__number {
      display: none; }

  /* Footer Styles ----- */
  .footer__container {
    color: #ffffff;
    text-align: center; }

  .footer--top {
    background-color: #1f59b1;
    padding-top: 2rem;
    padding-bottom: 0.75rem; }
  .footer--bottom {
    background-color: #2f77e2;
    font-size: 0.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .footer__icons {
    width: 7rem;
    margin-left: 1rem; }
  .footer__img {
    max-height: 50%;
    margin-right: 10px; }
  .footer__connect {
    font-weight: 400;
    margin-right: 1rem; }
  .footer__text {
    max-width: 90%;
    margin: 0 0.5rem;
    border: none;
    padding-bottom: 0rem; }
  .footer__text--border {
    display: none; } }
@media (min-width: 1170px) {
  .business__title {
    font-size: 1.5rem;
    font-weight: 200; } }

/*# sourceMappingURL=style.css.map */
