/* Web Fonts --------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-bolditalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-extrabold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-extrabolditalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-lightitalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-semibolditalic.ttf') format('truetype');
}

/* Main CSS Styles --------------- */

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Open Sans';
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #1f59b1;
}

/* Navigation Styles --------------- */

#pool-logo {
  max-width: 40%;
}

#mobile-menu {
  max-width: 72%;
  align-content: flex-end;
  position: relative;
  top: 0.5rem;
}

.mobile-menu {
  width: 20%;
}

.mobile-nav span {
  border: 2px solid #1f59b1;
  color: #1f59b1;
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 0.90rem;
  font-weight: bold;
  text-decoration-style: none;
}

.mobile-nav {
  box-shadow: 0 1px 1px 1px #3a3d41;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner img {
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  transform: scale(1.5);
}

/* Filter Results Section --------------- */

.filters {
  background-color: #f0eeee;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #696b6d;
}

.filter-head {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.filter-head span {
  padding: 1rem;
}

.filters .filter {
  background-color: #ffffff;
  border-top: 0.5px solid #696b6d;
  border-right: 0.5px solid #696b6d;
  border-left: 0.5px solid #696b6d;
}

.filter-form {
  background-color: #ffffff;
  max-width: 90%;
  margin: auto;
  padding: 2rem 1rem 1rem 1rem;
  border: 0.5px solid #696b6d;
}

input {
  margin-bottom: 1.5rem;
}

label {
  padding-left: 7px;
}

#filter-result {
  color: #1f59b1;
  font-weight: bolder;
}

/* Business Section ---------- */

main {
  display: flex;
  flex-direction: column;
}

.business {
  text-align: center;
  padding-top: 2rem;
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999
}

.business:hover {
  transform: scale(1.03);
}

.business img {
  width: 12%;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f59b1;
  color: #ffffff;
  padding: 5px 0px 5px 5px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  max-width: 80%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #1fb19e;
  padding-top: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 1rem;
  max-width: 60%;
}

.contact-info {
  margin-bottom: 1.5rem;
}

.contact-info h2, p {
  margin-bottom: 0.75rem !important;
}

.contact-info h2 {
  font-weight: bold;
}

.talk {
  margin-bottom: 1.5rem !important;
  font-style: italic;
}

.contact-info p {
  margin-top: 0;
}

.contact span {
  color: #1f59b1;
  font-weight: bold;
}

.contact img {
  margin-right: 1rem;
  margin-left: 1rem;
}

.business h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.business p {
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
}

.phone img, span {
  margin-right: 15px;
}

#number {
  font-weight: bold;
}

#tap {
  font-size: 0.75rem;
}

.services {
  display: flex;
  justify-content: center;
  background-color: #e7e6e6;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  font-size: 0.75rem;
  text-align: left;
  margin: 0 auto;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.service {
  margin-bottom: 0.5rem;
}

.last {
  margin-bottom: 2rem;
}

/* Footer styles ---------- */

footer {
  color: white;
  text-align: center;
}

.footer-top {
  background-color: #1f59b1;
  padding-top: 1.5rem;
}

.footer-bottom {
  background-color: #2e71d4;
  font-size: 0.80rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

#footer-logo {
  max-width: 60%;
  margin: auto;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  height: 3rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.social img {
  max-height: 50%;
  margin-right: 10px;
}

#p-border {
  border-bottom: 1px solid white;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Mobile Drop Down ---------- */


.click-nav ul .clicker {
  color:#FFF;
}
.click-nav ul li a {
  display:block;padding:8px 10px 8px 40px;
  background:#FFF;color:#333;text-decoration:none;
}
.click-nav ul li a:hover {
  background:#F2F2F2;
}

/* Fallbacks */
.click-nav .no-js ul {
  display:none;
}
.click-nav .no-js:hover ul {
  display:block;
}



/* Desktop Only ----- */

.desktop-phone {
  display: none;
}

.nav, .desktop-nav {
  display: none;
}

.desktop-filter {
  display: none;
}

.desktop-top {
  display: none;
}

/* Media Query for Desktop View ----- */

@media screen and (min-width: 768px) {

  /* Main Section Desktop Styles ----- */
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem 1rem 1rem;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto 3rem auto;
  }

  .business {
    margin: 0.5rem;
    border-radius: 10px;
    width: 40% !important;
    box-shadow: 3px 3px 3px 3px #999, 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;
  }

  .business .middle, .busy h1 {
    margin-bottom: 2rem;
  }

  .mobile-phone {
    display: none;
  }

  .phone {
    background-color: #ffffff;
    color: black;
  }

  #number {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktop-phone {
    display: block;
    font-size: 1.5rem;
    border-top: 1px solid #999;
    padding-top: 1rem;
    border-radius: 0;
  }

  .services {
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* Navigation and Header Desktop Styles ----- */
  .banner img {
    transform: scale(1);
    width: 100%;
    margin-bottom: 0rem;
  }

  .mobile-nav {
    display: none;
  }

  .nav, .desktop-nav {
    display: block;
  }

  .nav {
    width: 100%; /* Full width */  
    z-index: 9999;   
    box-shadow: 0 1px 1px #888888;   
  }

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    max-width: 1250px;
    margin: 0 auto;
  }

  .desktop-nav ul li {
    list-style-type: none;
    display: inline;
    margin: 1rem;
  }

  #pool-logo {
    max-width: 18%;
  }

  .desktop-nav span {
    border: 2px solid #1f59b1;
    color: #1f59b1;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 0.90rem;
    font-weight: bold;
    text-decoration-style: none;
  }

  .desktop-top {
    background-color: #1f59b1;
    display: block;
  }

  .desktop-top ul li {
    list-style-type: none;
    display: inline;
    margin: 1rem;
  } 

  .contain {
    max-width: 1250px;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 0.75rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Filter Section ----- */

  .filters {
    background-color: #f0eeee;
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    max-width: 960px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
  }
  
  .filter-head {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    background-color: #f0eeee;
    border: none;
  }

  .filter-form {
    background-color: #f0eeee;
    max-width: 90%;
    margin: auto;
    padding: 2rem 1rem 1rem 1rem;
    border: none;
    display: inline-block;
  }

  .filter {
    border: none;
    background-color: #f0eeee;
  }

  .filters .filter {
    background-color: #f0eeee;
    border: none;
  }

  .mobile-filter {
    display: none;
  }

  .desktop-filter {
    display: inline;
  }

  .filter-form form {
    display: inline-flex;
    border: none;
  }

  .filter-form form input, label {
    margin-right: 1rem;
  }

  body > section > div.filter-form > form > input[type="checkbox"] {
    margin-top: 0;
  }

  #filter-result {
    border-right: 1px solid #a3a5a883;
    padding-right: 2rem;
  }


  /* Footer Styles ----- */
  footer {
    color: white;
    text-align: center;
  }
  
  .footer-top {
    background-color: #1f59b1;
    padding-top: 1.5rem;
  }
  
  .footer-bottom {
    background-color: #2e71d4;
    font-size: 0.80rem;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
  }
  
  #footer-logo {
    max-width: 15%;
    margin: auto;
  }
  
  .social {
    display: flex;
    justify-content: center;
    max-width: 90%;
    height: 3rem;
    margin: 0 auto;
    padding-top: 1rem;
  }
  
  .social img {
    max-height: 50%;
    margin-right: 10px;
  }
  
  #p-border {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: none;
  }

  .mobile-footer-text {
    display: none;
  }

}

/* MODAL ---------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 85%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form label {
  display: block;
  margin-bottom: 8px;
}

#mymodal fieldset {
  padding: 0;
}

.modal-form input, textarea {
  background-color: #d4d4d4;
  width: 100%;
  display: inline;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.modal-form input {
  height: 3.25rem;
  margin-bottom: 1rem;
}

.modal-form textarea {
  height: 3.25rem;
  margin-bottom: 1rem;
}

.modal-form {
  padding: 1rem;
  font-size: 0.85rem;
}

.modal-title {
  background-color: #1f59b1;
  color: white;
  padding: 1rem;
}

.modal-title p {
  font-size: 0.7rem;
}

label.light {
  display: inline;
  font-size: 0.80rem;
}

.question-section input {
  width: 5% !important;
  height: 1rem !important;
  margin-bottom: 1rem;
}

.question-section p {
  text-align: left;
}

button {
  border: none;
  color: #29d4c6;
  font-size: 1.25rem;
  text-align: right;
  font-size: 1rem;
}

.button {
  display: flex;
  justify-content: flex-end;
}