// Reset CSS
@import 'partials/reset';
// Base import 
@import 'partials/base';
// Inputs import 
@import 'partials/inputs';
// Font import
@import 'partials/fonts';
// Modal import 
@import 'partials/modal';

// ----- Nav section start ----- //
.nav__container {
  position: relative;
  box-shadow: 0 2px 1px 1px $color-shadow;
}
.nav {

  &__content {
    @include flex(space-between, center, row);
    height: 60px;
  }

  &__logo {
    width: 9rem;
    padding-left: 1.15rem;
  }

  &__find {
    @include inline-flex(center, center, row);
    @include font($font-s, $font-bold);
    border: 2px solid $color-primary;
    z-index: 4;
    color: $color-primary;
    padding: 0.5rem;
    border-radius: 5px;
  }

  &__location {
    width: 0.75rem;
    margin-right: 0.15rem;
  }

  &__button {
    max-width: 77%;
  }

  &__li--dk {
    display: none;
  }
  
  &__list {
    width: 100%;
    //Mobile menu arrows
    .nav__li::after {
      content: "";
      background-image: url(../images/next-arrow.png);
      height: 24px;
      width: 22px;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -12px;
      background-size: 20px;
      background-repeat: no-repeat;
    }
  }

  &__li {
    background-color: #e9e9e9;
    color: #6a6c70;
    padding: 1rem;
    margin-bottom: 2px;
    position: relative;
  }

  &__li--link:visited {
    color: $color-link;
  }
  
  //Mobile drop down start
  &__menu {
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    overflow: hidden;
    position: absolute;
    background-color: $color-light;
    width: 100%;
    height: 0px;
  }

  &__close {
    @include font($font-l, $font-bold);
    position: absolute;
    right: 20px;
    top: 15px;
    color: $color-secondary;
    &:visited {
      color: $color-secondary;
    }
  }

  &__link--mobile {
    width: 5rem;
    height: 3.25rem;
    z-index: 4;
  }

  &__title--mobile {
    @include font($font-m, $font-bold);
    color: $color-primary;
    padding: 1.75rem;
    text-align: center;
  }

  &__menu--open {
    height: 280px;
    border-top: 5px solid $color-secondary;
    border-bottom: 5px solid $color-secondary;
  }
  //Mobile drop down end
}
//----- Nav section end -----//

//----- Banner section start -----//
.banner {
  background-image: url("../images/water-image.png");
  height: 100px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
// ----- Banner section end -----//

//----- Filter section start -----//
.filters {
  @include flex(center, center, column);
  background-color: $color-background;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid $color-border;

  &__head {
    @include flex(space-between, center, row);
    @include font($font-s, $font-bold);
    margin: 0 auto;
  }
  
  &__result {
    color: $color-bright;
    margin-right: 0rem;
    padding: 1rem;
  }

  &__title {
    background-color: $color-light;
    border: 1.25px solid $color-border;
    padding: 1rem;
  }

  &__arrow {
    border-top: 1.25px solid $color-border;
    border-right: 1.25px solid $color-border;
    border-bottom: 1.25px solid $color-border;
    padding: 1rem;
  }

  &__mobile {
    @include flex(flex-start, stretch, row);
    color: $color-black;
    padding: 1rem;
    &:visited {
      color: $color-black;
    }
  }

  &__form {
    @include flex(flex-start, flex-start, column);
    height: 0px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    background-color: $color-light;
    width: 90%;
    margin: 0 auto;
    margin-top: -1.1rem;
  }

  &__input {
    margin-bottom: 1rem;
  }

  &__label {
    @include font($font-s, $font-regular);
    @include flex(center, center, row);
  }

  &__check {
    margin-right: 0.75rem;
  }

  &__question {
    position: relative;
    bottom: 1.3rem;
    left: 8rem;
    width: 1.5rem;
  }
  //Open class for filter drop down
  &__form--open {
    height: 240px !important;
    position: relative;
    padding-left: 1rem;
    //box-shadow: 0 0 2px 1px rgb(180, 178, 178);
    border: 1.25px solid $color-border;
  }
}
//----- Filter end -----//

//----- Business section start -----//
.business__container {
  @include flex(flex-start, stretch, column);
  max-width: 1250px;
}

.business {
  text-align: center;
  padding-top: 2rem;
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;

  &__title {
    @include font($font-xl, $font-light);
    margin-bottom: 1.5rem;
  }

  &__time {
    font-size: $font-s;
    margin-bottom: 1.5rem;
  }
  
  &__image {
    width: 12%;
  }

  &__phone {
    @include flex(space-between, center, row);
    background-color: $color-primary;
    color: $color-light;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
    margin: 0rem auto 1.5rem auto;
    max-width: 80%;
  }

  &__tap {
    font-size: $font-xs;
  }

  &__number {
    @include font($font-m, $font-regular);
    margin-right: 15px;
  }

  &__image--num {
    margin-right: 15px;
  }

  &__talk {
    @include font($font-talk, $font-light);
    font-style: italic;
    margin-bottom: 1.5rem !important;
  }

  &__contact {
    @include flex(center, center, row);
    border-radius: 5px;
    margin: 0rem auto 2.5rem auto;
    border: 2px solid $color-secondary;
    padding: 1rem 0rem 1rem 0rem;
    max-width: 60%;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__pro {
    color: $color-primary;
    font-weight: $font-bold;
  }

  &__img {
    margin-right: 1rem;
    width: 9%;
  }

  &__hours {
    font-weight: $font-bold;
    margin-bottom: 0.75rem;
  }

  &__time {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__info {
    margin-bottom: 2.5rem;
  }

  &__services {
    @include flex(space-around, center, row);
    background-color: $color-background;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    font-size: $font-xs;
    text-align: left;
    margin: 0 auto;
  }

  &__service--hidden {
    visibility: hidden;
  }

  &__asset {
    @include inline-flex(space-between, center, row);
  }

  &__service {
    margin-bottom: 0.5rem;
  }

  &--three {
    margin-bottom: 2rem;
  }
}
//----- Business section end -----//

//----- Footer styles start -----//
.footer__container {
  color: $color-light;
  text-align: center;
}

.footer {

  &--top {
    background-color: $color-primary;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &__logo {
    width: 13rem;
  }

  &--bottom {
    background-color: #2e71d4;
    font-size: $font-xs;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
  }

  &__text {
    @include font($font-xs, $font-light);
    max-width: 90%;
    margin: 0rem 0.25rem 0 0.25rem;
    padding-bottom: 7px;
  }

  &__text--border {
    border-bottom: 1px solid $color-light;
    margin: 0rem auto 0.5rem auto;
  }

  &__social {
    @include flex(space-between, center, row);
    max-width: 80%;
    height: 3rem;
    margin: 0 auto;
  }

  &__icons {
    @include flex(space-between, center, row);
    width: 6rem;
  }

  &__img {
    width: auto;
    height: 1.5rem;
  }
}
//---- Footer end -----//

// Desktop Only Elements & Styles ----- //
.business__phone--desktop {
  display: none;
}

.business__number--desktop {
  display: none;
}

.filters__title--desktop {
  display: none;
}

.top {
  display: none;
}

// Media query style sheet import ----- //
@import 'partials/media';