/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-size: 16px; }
  html body {
    font-family: "OpenSans", sans-serif;
    overflow-x: hidden; }

a:link {
  text-decoration: none; }
a:visited {
  text-decoration: none;
  color: #1f59b1; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-extrabold.ttf") format("tff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-bold.ttf") format("tff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-italic.ttf") format("tff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-regular.ttf") format("tff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-light.tff") format("tff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-lightitalic.tff") format("tff");
  font-weight: 200;
  font-style: italic; }
.nav {
  position: relative; }

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60px;
  box-shadow: 0 1px 1px 1px #3a3d41;
  background-color: #ffffff;
  z-index: 10; }

.nav__home {
  width: 39%;
  margin-right: 1.2rem;
  z-index: 4; }
  .nav__home .nav__logo {
    max-width: 100%;
    padding-left: 1.15rem;
    z-index: 4; }

.nav__find {
  border: 2px solid #1f59b1;
  z-index: 4;
  color: #1f59b1;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration-style: none; }

.nav__link {
  margin-top: 1rem;
  width: 5rem;
  height: 3.25rem;
  padding: 0;
  margin: 0;
  z-index: 4; }
  .nav__link .nav__button {
    max-width: 77%; }

.banner {
  overflow: hidden; }
  .banner .banner__img {
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    transform: scale(2); }

.nav__menu {
  top: 100%;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  height: 0px; }
  .nav__menu .nav__close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-weight: 700;
    color: #1fb19e;
    font-size: 1.25rem; }
    .nav__menu .nav__close a:visited {
      color: #1fb19e; }
  .nav__menu .nav__title {
    color: #1f59b1;
    padding: 1.75rem;
    text-align: center;
    font-weight: 700; }

.nav__menu--open {
  height: 270px !important;
  border-top: 5px solid #1fb19e;
  border-bottom: 5px solid #1fb19e; }

.nav__list {
  width: 100%; }
  .nav__list li {
    background-color: #e9e9e9;
    color: #6a6c70 !important;
    padding: 1rem;
    margin-bottom: 2px;
    position: relative; }
    .nav__list li a:visited {
      color: #696b6d; }
  .nav__list li:last-child {
    margin-bottom: 0; }
  .nav__list li::after {
    background-image: url(../images/next-arrow.png);
    height: 24px;
    width: 22px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -12px;
    background-size: 20px;
    background-repeat: no-repeat; }

/* Filter Results Section --------------- */
.filters {
  background-color: #f0eeee;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #696b6d; }
  .filters .filters__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto; }
    .filters .filters__head .filters__result {
      color: #1f59b1;
      font-weight: 900;
      margin-right: 0rem;
      padding: 1rem; }

.filters__title {
  background-color: #ffffff;
  border: 0.5px solid black;
  padding: 1rem; }

.filters__arrow {
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding: 1rem; }

.filters__mobile {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  color: black;
  padding: 1rem; }
  .filters__mobile:visited {
    color: black; }

.filters__form {
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  background-color: #ffffff;
  max-width: 85%;
  margin: 0 auto; }
  .filters__form .filters__input {
    margin-bottom: 1.5rem; }
  .filters__form .filters__label {
    padding-left: 7px; }

.filters__form--open {
  height: 150px !important;
  padding: 1.5rem;
  box-shadow: 0 0 2px 1px #b4b2b2; }

/* Business Section ---------- */
.business__container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  max-width: 1250px; }

.business {
  text-align: center;
  padding-top: 2rem;
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999; }
  .business .business__title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 200; }
  .business .business__time {
    font-size: 0.9rem;
    margin-bottom: 1.5rem; }
  .business img {
    width: 12%; }

.business__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #1f59b1;
  color: #ffffff;
  padding: 5px 0px 5px 5px;
  border-radius: 5px;
  margin: 0rem auto 1.5rem auto;
  max-width: 80%; }
  .business__phone .business__call {
    font-size: 0.75rem; }
  .business__phone .business__number--desktop {
    font-size: 1.5rem;
    font-weight: 700; }
  .business__phone img, .business__phone span {
    margin-right: 15px; }

.business__talk {
  font-size: 0.9rem;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 1.5rem !important; }

.business__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  margin: 0rem auto 1.5rem auto;
  border: 2px solid #1fb19e;
  padding: 1rem 0rem 1rem 0rem;
  max-width: 60%; }
  .business__contact:hover {
    transform: scale(1.05); }
  .business__contact .business__pro {
    color: #1f59b1;
    font-weight: 700; }
  .business__contact .business__img {
    margin-right: 1rem; }

.business__info {
  margin-bottom: 1.5rem; }
  .business__info .business__hours {
    font-weight: 700;
    margin-bottom: 0.75rem; }
  .business__info .business__time {
    margin-top: 0;
    margin-bottom: 0.75rem; }

.business__services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #e7e6e6;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  font-size: 0.75rem;
  text-align: left;
  margin: 0 auto; }
  .business__services .business__service {
    margin-bottom: 0.5rem; }
    .business__services .business__service .business__service--hidden {
      visibility: hidden; }

.business--three {
  margin-bottom: 2rem; }

/* Footer styles ---------- */
.footer__container {
  color: #ffffff;
  text-align: center; }

.footer--top {
  background-color: #1f59b1;
  padding-top: 2rem;
  padding-bottom: 1rem; }
  .footer--top .footer__logo {
    width: 13rem; }

.footer--bottom {
  background-color: #2e71d4;
  font-size: 0.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem; }
  .footer--bottom p {
    font-weight: 200; }
  .footer--bottom .footer__text {
    border-bottom: 1px solid #ffffff;
    max-width: 90%;
    margin: 0 auto 7px auto;
    padding-bottom: 7px; }

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 80%;
  height: 3rem;
  margin: 0 auto; }
  .footer__social .footer__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 6rem; }
  .footer__social .footer__img {
    width: auto;
    height: 1.5rem; }

/* Desktop Only ----- */
.business__phone--desktop {
  display: none; }

.navigation {
  display: none; }

.filters__title--desktop {
  display: none; }

.top {
  display: none; }

/* Modal Styles ---------- */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 85%; }

.modal__legend {
  margin-bottom: 1.5rem; }

.modal__inputs {
  font-size: 1rem;
  font-weight: 400; }

.modal__close {
  position: absolute;
  top: 1rem;
  left: 20rem;
  color: #aaa;
  font-size: 1.25rem;
  font-weight: 700; }

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.modal__form {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1rem; }
  .modal__form .modal__label {
    display: block;
    margin-bottom: 8px;
    padding-left: 0; }
  .modal__form .modal__legend {
    color: #696b6d;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .modal__form .modal__input {
    font-size: 1rem;
    font-weight: 400;
    height: 2.75rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    display: inline;
    width: 100%;
    border: 1px solid #a5a7a8; }
  .modal__form .modal__textarea {
    font-size: 1rem;
    font-weight: 400;
    height: 3.25rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    display: inline;
    width: 100%;
    border: 1px solid #a5a7a8; }

.modal__head {
  background-color: #154080;
  color: #ffffff;
  padding: 1.30rem; }
  .modal__head .modal__email {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem; }
  .modal__head .modal__title {
    font-size: 1.25rem;
    font-weight: 200; }

.modal__light {
  font-size: 0.75rem;
  font-weight: 400;
  display: inline !important; }

.modal__question {
  display: inline-flex;
  flex-direction: column; }

.modal__input--radio {
  width: 5%;
  height: 1rem;
  margin-bottom: 1rem; }

.modal__newsletter {
  text-align: left; }

.modal__button {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  background-color: #ffffff; }
  .modal__button .modal__submit {
    font-size: 1.25rem;
    font-weight: 400;
    color: #29d4c6;
    font-size: 1.25rem;
    text-align: right; }

/* Media Query for Desktop View ----- */
@media screen and (min-width: 768px) {
  /* Main Section Desktop Styles ----- */
  .business__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2.5rem 1rem 1rem 1rem;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto 3rem auto; }

  .business {
    margin: 0.5rem;
    border-radius: 10px;
    width: 40% !important;
    box-shadow: 3px 3px 3px 3px #999, 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999; }

  .business__title {
    margin-bottom: 2rem; }

  .business__phone--mobile {
    display: none; }

  .business__phone {
    background-color: #ffffff;
    color: black; }
    .business__phone .business__number--desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }

  .business__phone--desktop {
    display: block;
    font-size: 1.25rem;
    border-top: 1px solid #999;
    padding-top: 1rem;
    border-radius: 0; }

  .business__services {
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

  /* Navigation and Header Desktop Styles ----- */
  .banner .banner__img {
    padding-top: 0.1rem;
    transform: scale(1);
    width: 100%;
    height: auto;
    margin-bottom: -5.5rem; }

  .nav {
    display: none;
    position: relative; }

  .navigation {
    width: 100%;
    z-index: 9999;
    box-shadow: 0 1px 1px #888888;
    display: block; }

  .navigation__list {
    font-weight: 700; }
    .navigation__list a:hover {
      color: #1fb19e; }

  .navigation__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
    max-width: 1250px;
    margin: 0 auto; }
    .navigation__desktop .navigation__find {
      border: 2px solid #1f59b1;
      color: #1f59b1;
      padding: 0.75rem 1.25rem;
      border-radius: 5px;
      margin: 0rem 1rem 0rem 1rem;
      font-size: 0.9rem;
      font-weight: 700;
      text-decoration-style: none; }
      .navigation__desktop .navigation__find:hover {
        color: #1fb19e; }

  .navigation__desktop ul li {
    list-style-type: none;
    display: inline;
    margin: 1rem; }

  .site__logo--desktop {
    max-width: 18%;
    margin-left: 1.25rem; }

  .top {
    background-color: #154080;
    display: block; }

  .top__item {
    list-style-type: none;
    display: inline;
    margin: 1rem;
    color: #ffffff; }
    .top__item:hover {
      color: #f0eeee; }

  .top__content {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
    max-width: 1250px;
    color: #ffffff;
    font-size: 0.75rem;
    padding: 1rem 1.25rem 1rem 0rem;
    margin: 0 auto; }

  /* Filter Section ----- */
  .filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #f0eeee;
    max-width: 960px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 3; }

  .filters__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
    background-color: #f0eeee;
    border: none; }

  .filters__form {
    background-color: #f0eeee;
    max-width: 90%;
    margin: auto;
    padding: 2.25rem 1rem 1rem 1rem;
    border: none;
    display: inline-flex;
    align-items: center;
    box-shadow: none; }

  .filters__question {
    width: 55%;
    top: -0.6rem;
    margin-right: 0rem;
    display: none; }

  .filters__mobile {
    display: none; }

  .filters__title--desktop {
    display: inline;
    margin-left: 1rem; }

  .filters__form form {
    display: inline-flex;
    align-items: center;
    border: none; }

  .filters__form .filters__input, .filters__label {
    margin-right: 1rem; }

  .filters__input {
    margin-top: 0; }

  .filters__result {
    border-right: 1px solid #a3a5a883;
    padding-right: 2rem; }

  /* Footer Styles ----- */
  .footer__container {
    color: #ffffff;
    text-align: center; }

  .footer--top {
    background-color: #1f59b1;
    padding-top: 2rem;
    padding-bottom: 0.75rem; }

  .footer--bottom {
    background-color: #2e71d4;
    font-size: 0.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .footer__social .footer__icons {
      width: 7rem;
      margin-left: 1rem; }
    .footer__social .footer__img {
      max-height: 50%;
      margin-right: 10px; }
    .footer__social .footer__connect {
      font-weight: 400;
      margin-right: 1rem; }

  .footer__text {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: none; }

  .footer__text {
    display: none; }

  .modal .modal__content {
    width: 40%; }

  .modal__inputs {
    background-color: #e6e6e6;
    padding: 1rem; } }

/*# sourceMappingURL=style.css.map */
