/* Web Fonts --------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-bolditalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-extrabold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-extrabolditalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-lightitalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-semibolditalic.ttf') format('truetype');
}

/* Main CSS Styles --------------- */

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Open Sans';
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #1f59b1;
}

/* Navigation Styles --------------- */

#pool-logo {
  max-width: 40%;
}

#mobile-menu {
  max-width: 15%;
  align-content: flex-end;
  position: relative;
  top: 0.5rem;
}

.mobile-nav span {
  border: 2px solid #1f59b1;
  color: #1f59b1;
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration-style: none;
}

.mobile-nav {
  box-shadow: 0 1px 1px 1px #3a3d41;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner img {
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

/* Filter Results Section --------------- */

.filters {
  background-color: #e7e6e6;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #696b6d;
}

.filter-head {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.filter-head span {
  padding: 1rem;
}

.filters .filter {
  background-color: #ffffff;
  border-top: 0.5px solid #696b6d;
  border-right: 0.5px solid #696b6d;
  border-left: 0.5px solid #696b6d;
}

.filter-form {
  background-color: #ffffff;
  max-width: 90%;
  margin: auto;
  padding: 2rem 1rem 1rem 1rem;
  border: 0.5px solid #696b6d;
}

input {
  margin-bottom: 1.5rem;
}

label {
  padding-left: 7px;
}

#filter-result {
  color: #1f59b1;
  font-weight: bolder;
}

/* Business Section ---------- */

main {
  display: flex;
  flex-direction: column;
}

.business {
  text-align: center;
  padding-top: 2rem;
  max-width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999
}

.business img {
  width: 12%;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f59b1;
  color: #ffffff;
  padding: 5px 0px 5px 5px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
  max-width: 80%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #1fb19e;
  padding-top: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 1rem;
  max-width: 60%;
}

.contact-info {
  margin-bottom: 1.5rem;
}

.contact-info h2, p {
  margin-bottom: 0.75rem !important;
}

.contact-info h2 {
  font-weight: bold;
}

.talk {
  margin-bottom: 1.5rem !important;
  font-style: italic;
}

.contact-info p {
  margin-top: 0;
}

.contact span {
  color: #1f59b1;
  font-weight: bold;
}

.contact img {
  margin-right: 1rem;
  margin-left: 1rem;
}

.business h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.business p {
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
}

.phone img, span {
  margin-right: 15px;
}

#number {
  font-weight: bold;
}

#tap {
  font-size: 0.75rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e7e6e6;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  font-size: 0.75rem;
}

.service {
  margin-bottom: 1rem;
}

.last {
  margin-bottom: 2rem;
}

/* Footer styles ---------- */

footer {
  color: white;
  text-align: center;
}

.footer-top {
  background-color: #1f59b1;
  padding-top: 1.5rem;
}

.footer-bottom {
  background-color: #2e71d4;
  font-size: 0.80rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

#footer-logo {
  max-width: 60%;
  margin: auto;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  height: 3rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.social img {
  max-height: 50%;
  margin-right: 10px;
}

#p-border {
  border-bottom: 1px solid white;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}