//Filter and Modal radio/checkbox input styles 
.modal__submit, .modal__submit--desktop[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.filters__input[type=checkbox] {
  visibility: hidden;
}

.modal__input--radio[type=radio] {
  visibility: hidden;
}

.filters__input[type="checkbox"] + .filters__label .filters__check {
  display:inline-block;
  width:21px;
  height:21px;
  background-color: $color-light;
  border: 1px solid #b4b1b1;
  border-radius: 5px;
}

.filters__input[type="checkbox"]:checked + .filters__label .filters__check {
  border: 7px solid $color-primary;
}

.modal__input--radio[type="radio"] + .modal__light .modal__radio {
  display:inline-block;
  width:17px;
  height:17px;
  background-color: $color-light;
  border: 1px solid #b4b1b1;
  border-radius: 5px;
}

.modal__input--radio[type="radio"]:checked + .modal__light .modal__radio {
  border: 6px solid $color-primary;
}

@media screen and (min-width: 904px) {
  .modal__input--radio[type="radio"] + .modal__light .modal__radio {
    display:inline-block;
    width: 4rem;
    height: auto;
    border: 1px solid #b4b1b1;
    border-radius: 5px;
  }
  .modal__input--radio[type="radio"]:checked + .modal__light .modal__radio {
    background-color: #2bcece;
    color: $color-light;
    border: 1px solid #b4b1b1;
  }
}