// Media Query for tablet view 
@media screen and (min-width: 650px) {
  // Nav section
  .nav__find {
    @include font($font-l, $font-regular);
  }

  .nav__link--mobile {
    width: 6rem;
  }

  .nav__logo {
    width: 18rem;
  }

  // Filters section 
  .filters {
    .filters__head {
      @include flex(space-around, center, row);
    }
  }

  .business__phone {
    max-width: 60%;
    .business__call {
      font-size: $font-m;
    }
    .business__number {
      font-size: $font-l;
    }
  }

  .business__contact {
    max-width: 50%;
  }

  // Footer section
  .footer__social {
    justify-content: space-around;
  }
}
//------------------------------------- End Tablet 

// Media query for desktop view ---------- //
@media screen and (min-width: 904px) {

  /* Main Section Desktop Styles ----- */
  .business__container {
    @include flex(space-between, center, row);
    padding: 2.5rem 1rem 1rem 1rem;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto 3rem auto;
  }

  .business {
    margin: 0.5rem;
    border-radius: 10px;
    width: 40% !important;
    box-shadow: 3px 3px 3px 3px #999, 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;
  }

  .business__title {
    margin-bottom: 2rem;
  }

  .business__phone--mobile {
    display: none;
  }

  .business__phone {
    background-color: $color-light;
    color: black;
    .business__number--desktop {
      @include flex(center, center, row);
    }
  }

  .business__phone--desktop {
    display: block;
    font-size: $font-l;
    border-top: 1px solid #999;
    padding-top: 1rem;
    border-radius: 0;
  }

  .business__services {
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .banner {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  // Navigation styles ----- //
  .nav {
    @include flex(space-between, center, row);
    height: 100px;
    margin: 0 auto;
    width: 100%;  
    z-index: 9999;   
    display: block;
    .nav__li--dk {
      display: inline;
      margin-top: 0;
    }
    .nav__li {
      background-color: $color-light;
      display: inline;
      a:visited {
        color: $color-primary;
      }
      a:hover {
        color: $color-secondary;
      }
    }
    .nav__menu {
      @include flex(center, center, row);
      height: 100%;
      width: auto;
      position: static;
    }
  }

  .nav__list {
    @include font($font-m, $font-bold);
  }

  .nav__find--dk {
    border: 2px solid $color-primary;
    color: $color-primary;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    margin: 0rem 1rem 0rem 1rem;
    text-decoration-style: none;
    &:hover {
      color: $color-secondary;
    }
  }

  .nav__container {
    @include flex(space-between, center, row);
    height: 100px;
    margin: 0 auto;
    max-width: 1250px;
  }

  .nav__content {
    box-shadow: none;
    .nav__logo {
      width: 14rem;
    }
  }

  // Mobile only navigation ----- //
  .nav__close, .nav__title--mobile, .nav__link--mobile, .nav__find {
    display: none;
  }
  // Nav end ----- //


  // Top content ----- //

  .top {
    background-color: $color-dark;
    display: block;
  }

  .top__item {
    list-style-type: none;
    display: inline;
    margin: 1rem;
    color: $color-light;
    &:hover {
      color: $color-background;
    }
  } 

  .top__content {
    @include flex(flex-end, stretch, row);
    max-width: 1250px;
    color: $color-light;
    font-size: $font-xs;
    padding: 1rem 1.25rem 1rem 0rem;
    margin: 0 auto;
  }
  // Top content end ----- //

  /* Filter Section ----- */
  .filters {
    @include flex(flex-start, center, row);
    background-color: $color-background;
    max-width: 1245px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 3;
  }
  
  .filters__head {
    @include flex(space-between, center, row);
    max-width: 90%;
    margin: 0 auto;
    background-color: $color-background;
    border: none;
  }

  .filters__form {
    background-color: $color-background;
    max-width: 90%;
    margin: auto;
    padding: 2.25rem 1rem 1rem 1rem;
    border: none;
    display: inline-flex;
    align-items: center;
    box-shadow: none;
  }

  .filters__question {
    width: 55%;
    top: -0.6rem;
    margin-right: 0rem;
    display: none;
  }

  .filters__mobile {
    display: none;
  }

  .filters__title--desktop {
    display: inline;
    margin-left: 1rem;
  }

  .filters__form form {
    display: inline-flex;
    align-items: center;
    border: none;
  }

  .filters__form .filters__input, .filters__label {
    margin-right: 1rem;
  }

  .filters__input {
    margin-top: 0;
  }

  .filters__result {
    border-right: 1px solid #a3a5a883;
    padding-right: 2rem;
  }
  // Filter end ----- //


  /* Footer Styles ----- */
  .footer__container {
    color: $color-light;
    text-align: center;
  }
  
  .footer--top {
    background-color: $color-primary;
    padding-top: 2rem;
    padding-bottom: 0.75rem;
  }
  
  .footer--bottom {
    background-color: $color-footer;
    font-size: $font-xs;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .footer__social {
    @include flex(center, center, row);
    .footer__icons {
      width: 7rem;
      margin-left: 1rem;
    }
    .footer__img {
      max-height: 50%;
      margin-right: 10px;
    }
    .footer__connect {
      font-weight: $font-regular;
      margin-right: 1rem;
    }
  }
  
  .footer__text {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: none;
  }

  .footer__text {
    display: none;
  }
}