// Media Query for tablet view 
@media screen and (min-width: 555px) {
  // Nav section
  .nav__find {
    @include font($font-l, $font-regular);
  }

  .nav__link--mobile {
    width: 6rem;
  }

  .nav__logo {
    width: 18rem;
  }

  .nav__location {
    width: 1.25rem;
  }

  // Filters section 
  .filters {
    &__head {
      @include flex(space-around, center, row);
    }
  }

  // Business section
  .business__phone {
    max-width: 60%;
  }

  .business__number {
    font-size: $font-l;
  }

  .business__call {
    font-size: $font-m;
  }

  .business__contact {
    max-width: 50%;
  }

  // Business section 
  .business__container {
    max-width: 500px;
    margin: 0 auto;
  }

  // Footer section
  .footer__social {
    justify-content: space-around;
  }
}
//------------------------------------- End Tablet 

// Media query for desktop view ---------- //
@media screen and (min-width: 904px) {
  // Baner section ----- //
  .banner {
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: -2rem;
  }

  // Navigation start ----- //
  .nav__container {
    height: 100px;
    margin: 0 auto;
    width: 100%;  
    z-index: 9;   
    display: block;
  }

  .nav { 
    @include flex(space-between, center, row);
    height: 100px;
    margin: 0 auto;
    max-width: 1250px;

    &__menu {
      @include flex(center, center, row);
      height: 100%;
      width: auto;
      position: static;
    }

    &__li--dk {
      display: inline;
      margin-top: 0;
    }

    &__list {
      @include font($font-s, $font-bold);
      @include flex(center, center, row);
      .nav__li::after {
        background-image: none;
      }
    }

    &__li {
      background-color: $color-light;
      display: inline;
      a:visited {
        color: $color-primary;
      }
      a:hover {
        color: $color-secondary;
      }
    }

    &__find--dk {
      @include inline-flex(center, center, row);
      border: 2px solid $color-bright;
      color: $color-bright;
      padding: 0.75rem 1.25rem;
      border-radius: 5px;
      margin: 0rem 1rem 0rem 1rem;
      text-decoration-style: none;
      &:hover {
        color: $color-secondary;
      }
    }

    &__location {
      margin-right: 0.50rem;
      width: 0.85rem;
    }

    &__logo {
      width: 14rem;
    }

    // Mobile only navigation ----- //
    &__close, &__title--mobile, &__link--mobile, &__find {
      display: none;
    }
  }
  // Nav end ----- //


  // Top content start ----- //
  .top {
    background-color: $color-dark;
    display: block;

    &__content {
      @include flex(flex-end, stretch, row);
      @include font($font-xs, $font-regular);
      max-width: 1225px;
      color: $color-light;
      padding: 1rem 1.25rem 1rem 0rem;
      margin: 0 auto;
    }

    &__item {
      list-style-type: none;
      display: inline;
      margin-right: 1rem;
      color: $color-light;
      
      &:hover {
        color: $color-background;
      }
    }

    &__item--com {
      margin-right: 0.5rem;
    }

    &__list {
      @include flex(center, center, row);
    }

    &__image {
      width: 0.75rem;
    }
  }
  // Top content end ----- //

  /* Filter Section ----- */
  .filters {
    @include flex(center, center, row);
    background-color: $color-background;
    max-width: 1245px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 3;

    &__head {
      margin: 0;
      background-color: $color-background;
      border: none;
    }

    &__result {
      border-right: 1px solid $color-border;
      padding-right: 2rem;
    }

    &__input {
      margin-top: 0;
      margin-right: 1rem;
    }

    &__form {
      @include flex(center, center, row);
      position: static;
      background-color: $color-background;
      height: auto;
      border: none;
      box-shadow: none;
      width: 60%;
      margin: 0;
    }

    &__question {
      position: static;
      width: 1.25rem;
    }

    &__mobile {
      display: none;
    }

    &__title--desktop {
      display: inline;
      margin-left: 2rem;
    }

    &__label {
      margin-right: 1rem;
    }
  }
  // Filter end ----- //

  /* Main Section Desktop Styles ----- */
  .business__container {
    @include flex(space-between, center, row);
    padding: 2.5rem 1rem 1rem 1rem;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto 4rem auto;
  }

  .business {
    margin: 0.5rem;
    padding-top: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #999, 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;

    &__title--container {
      @include flex(center, center, row);
      border-bottom: 1px solid $color-border;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      width: 90%;
      margin: 0 auto 1rem auto;
    }

    &__title--container--two {
      padding: 1.8rem;
    }

    &__title {
      @include font($font-l, $font-light);
      margin-bottom: 0rem;
    }

    &__contact {
      max-width: 55%;
    }

    &__phone {
      @include font($font-xl, $font-bold);
      display: block;
      // border-top: 1px solid #999;
      // padding-top: 1rem;
      border-radius: 0;
    }

    &__number--desktop {
      @include flex(center, center, row);
    }

    &__services {
      padding-right: 1rem;
      padding-left: 1rem;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &__phone {
      background-color: $color-light;
      color: black;
    }

    //Mobile only display 
    &__phone--mobile, &__tap, &__icon, &__number {
      display: none;
    }
  }


  /* Footer Styles ----- */
  .footer {

    &--top {
      padding-top: 2rem;
      padding-bottom: 0.75rem;
    }

    &--bottom {
      background-color: $color-bright;
      font-size: $font-xs;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }

    &__social {
      @include flex(center, center, row);
    }

    &__icons {
      width: 7rem;
      margin-left: 1rem;
    }

    &__img {
      max-height: 50%;
      margin-right: 10px;
    }

    &__connect {
      font-weight: $font-regular;
      margin-right: 1rem;
    }

    &__text {
      max-width: 90%;
      margin: 0 0.5rem;
      border: none;
      padding-bottom: 0rem;
    }

    &__text--border {
      display: none;
    }
  }
}

// Desktop big media query 
@media (min-width: 1170px) {
  .business__title {
    @include font($font-xl, $font-light);
  }
}