/* Modal Styles ---------- */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  .modal__content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 350px; 
  }
}

.modal__action {
  margin-bottom: 1.5rem;
}

.modal__inputs {
  @include font($font-m, $font-regular);
  position: relative;
}

.modal__circle--one {
  width: 1.25rem;
  position: absolute;
  top: -.15rem;
  right: 0rem;
}

.modal__circle--two {
  width: 1.25rem;
  position: absolute;
  top: 5.35rem;
  right: 11rem;
}

.modal__circle--three {
  width: 1.25rem;
  position: absolute;
  top: 10.9rem;
  right: 0rem;
}

.modal__opt {
  @include font($font-xs, $font-light);
  font-style: italic;
  position: absolute;
  right: 0rem;
  top: 16.95rem;
}

.modal__opt--dk {
  display: none;
}

.modal__close {
  position: absolute;
  top: 0.6rem;
  left: 20.3rem;
  color: #aaa;
  font-size: $font-l;
  font-weight: $font-bold;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__form {
  @include font($font-s, $font-regular);
  padding: 1rem;
  .modal__label {
    @include font($font-s, $font-regular);
    display: block;
    margin-bottom: 8px;
    padding-left: 0;
  }
  .modal__legend {
    color: #696b6d;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .modal__input {
    @include font($font-m, $font-regular);
    margin-bottom: 1.25rem;
    height: 2.70rem;
    background-color: $color-light;
    width: 100%;
    border: 0.75px solid #b5b8b9;
  }
  .modal__textarea {
    @include font($font-m, $font-regular);
    height: 4rem;
    margin-bottom: 1.25rem;
    background-color: $color-light;
    width: 100%;
    border: 0.75px solid #a5a7a8;
  }
}

.modal__head {
  background-color: $color-dark;
  color: $color-light;
  padding: 1.30rem;
  .modal__email {
    @include font($font-s, $font-regular);
    margin-bottom: 0.5rem;
  }
  .modal__business {
    @include font($font-l, $font-light);
  }
}

.modal__light {
  @include font($font-xs, $font-regular);
  display: inline !important;
}

.modal__question {
  display: inline-flex;
  flex-direction: column;
}

.modal__input--radio {
  width: 5%;
  height: 1rem;
  margin-bottom: 1rem;
}

.modal__input--num {
  @include font($font-m, $font-regular);
    height: 2.70rem;
    margin-bottom: 1.25rem;
    background-color: $color-light;
    border: 0.75px solid #b5b8b9;
    width: 45%;
}

.modal__newsletter {
  @include font($font-s, $font-regular);
  text-align: left;
}

.modal__submit[type=submit] {
  color: #29d4c6;
  float: right;
}

.modal__submit--desktop {
  display: none;
}

.modal__arrow {
  display: none;
}

// Desktop Modal Styles 
@media screen and (min-width: 904px) {
  .modal {
    .modal__content {
      width: 600px;
    }
    .modal__head {
      padding: 2.3rem;
    }
    .modal__form {
      padding: 2rem;
    }
    .modal__close {
      color: $color-light;
      top: 0.6rem;
      left: 36rem;
    }
  }
  .modal__inputs {
    background-color: #eeebeb;
    padding: 1.5rem;
  }
  .modal__input {
    width: 100%;
  }
  .modal__textarea {
    width: 100%;
  }
  .modal__submit {
    display: none;
  }
  .modal__submit--desktop[type=submit] {
    @include font($font-s, $font-regular);
    display: block;
    margin: 0 auto;
  }
  .modal__desktop {
    @include flex(center, center, row);
  }
  .modal__submit--container {
    display: inline-flex;
  }
  .modal__arrow {
    display: inline;
    width: auto;
    height: 1rem;
    margin-left: 0.25rem;
  }
  .modal__circle--one {
    top: 1.34rem;
    right: 1.5rem;
  }
  
  .modal__circle--two {
    top: 6.85rem;
    right: 18.3rem;
  }
  .modal__circle--three {
    top: 12.4rem;
    right: 1.5rem;
  }
  .modal__opt {
    right: 1.5rem;
    top: 18.5rem;
  }
  
  .modal__opt--dk {
    @include font($font-xs, $font-light);
    font-style: italic;
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 25.25rem;
  }
}