//----- Modal styles start -----//
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid $color-border;
    width: 350px; 
  }

  &__head {
    background-color: $color-dark;
    color: $color-light;
    padding: 1.30rem;
  }

  &__business {
    @include font($font-l, $font-light);
  }

  &__email {
    @include font($font-s, $font-regular);
    margin-bottom: 0.5rem;
  }
  
  &__light {
    @include font($font-xs, $font-regular);
    @include inline-flex(center, center, row);
  }

  &__light--top {
    margin-right: 0.75rem;
  }

  &__radios {
    @include flex(flex-start, center, row);
    width: 100%;
    border-bottom: 1px solid $color-border;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }

  &__radio {
    margin-right: 0.75rem;
    text-indent: -9999px;
  }
  
  &__question {
    @include inline-flex(flex-start, stretch, column);
  }

  &__action {
    margin-bottom: 1.5rem;
  }

  &__inputs {
    @include font($font-m, $font-regular);
    position: relative;
  }

  &__circle {
    position: absolute;
    width: 1.25rem;
  }

  &__circle--one {
    top: -.15rem;
    right: 0rem;
  }

  &__circle--two {
    top: 5.15rem;
    right: 11rem;
  }

  &__circle--three {
    top: 10.4rem;
    right: 0rem;
  }

  &__opt {
    @include font($font-xs, $font-light);
    color: #868686;
    font-style: italic;
    position: absolute;
    right: 0rem;
    top: 16.2rem;
  }

  &__close {
    display: none;
  }

  //Modal form section 
  &__form {
    @include font($font-s, $font-regular);
    padding: 1rem;
  }

  &__label {
    @include font($font-s, $font-regular);
    display: block;
    margin-bottom: 8px;
    padding-left: 0;
  }

  &__textarea {
    @include font($font-m, $font-regular);
    height: 4rem;
    margin-bottom: 1.25rem;
    background-color: $color-light;
    width: 100%;
    border: 0.75px solid #a5a7a8;
  }

  &__input {
    @include font($font-m, $font-regular);
    margin-bottom: 1.25rem;
    height: 2.70rem;
    background-color: $color-light;
    width: 100%;
    border: 0.75px solid #b5b8b9;
  }

  &__legend {
    color: #696b6d;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__newsletter {
    @include font($font-s, $font-regular);
    text-align: left;
  }

  &__input--radio {
    width: 5%;
    height: 1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
  }

  &__input--num {
    @include font($font-m, $font-regular);
      height: 2.70rem;
      margin-bottom: 1.25rem;
      background-color: $color-light;
      border: 0.75px solid #b5b8b9;
      width: 45%;
  }

  &__submit[type=submit] {
    color: #29d4c6;
    float: right;
  }

  //Desktop only modal elements 
  &__opt--dk, &__submit--desktop, &__arrow {
    display: none;
  }
}
//----- Modal styles end -----//

//----- Desktop Modal Styles -----//
@media screen and (min-width: 904px) {
  .modal {
    &__content {
      width: 600px;
    }

    &__head {
      padding: 2.3rem;
    }

    &__form {
      padding: 2rem;
    }

    &__close {
      @include font($font-xl, $font-bold);
      display: block;
      color: $color-light;
      top: 0.25rem;
      left: 35.75rem;
      position: absolute;
      color: $color-light;
    }

    &__close:hover,
    &__close:focus {
      color: $color-black;
      text-decoration: none;
      cursor: pointer;
    }

    &__inputs {
      background-color: $color-background;
      padding: 1.5rem;
    }

    &__input {
      width: 100%;
    }

    &__textarea {
      width: 100%;
    }

    &__submit {
      display: none;
    }

    &__opt--dk {
      @include font($font-xs, $font-light);
      color: #868686;
      font-style: italic;
      display: block;
      position: absolute;
      right: 1.5rem;
      top: 24.5rem;
    }

    &__submit--desktop[type=submit] {
      @include font($font-s, $font-regular);
      display: block;
      margin: 0 auto;
    }

    &__desktop {
      @include flex(center, center, row);
    }

    &__submit--container {
      display: inline-flex;
    }

    &__arrow {
      display: inline;
      width: auto;
      height: 1rem;
      margin-left: 0.25rem;
    }

    &__circle--one {
      top: 1.35rem;
      right: 1.55rem;
    }

    &__circle--two {
      top: 6.65rem;
      right: 18.3rem;
    }
    &__circle--three {
      top: 12rem;
      right: 1.5rem;
    }
    &__opt {
      right: 1.5rem;
      top: 17.7rem;
    }
    &__light {
      color: #eeebeb;
    }
    &__radio {
      color: $color-black;
      text-indent: 0px;
      margin: 0 auto;
      text-align: center;
      padding: 0.5rem 1.25rem;
    }
    &__input--radio {
      margin-right: -0.5rem;
    }
    &__light--top {
      margin-right: -0.75rem;
    }
  }
  .modal__input--radio[type="radio"] + .modal__light .modal__radio {
    display:inline-block;
    width: 4rem;
    height: auto;
    border: 1px solid #b4b1b1;
    border-radius: 5px;
    //padding: 1rem 2rem;
  }
  .modal__input--radio[type="radio"]:checked + .modal__light .modal__radio {
    background-color: #2bcece;
    color: $color-light;
    border: 1px solid #b4b1b1;
  }
  //----- Desktop modal end -----//
}